.mdc-list-item {
  cursor: pointer;
}
.mdc-list-item__start-detail {
  background: rgba(0, 0, 0, .26);
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.mdc-list-item__end-detail {
  width: auto;
}


.Dining {
  background: rgb(242, 60, 0);
}
.Entertainment {
  background: rgb(86, 0, 191);
}
.Groceries {
  background: rgb(85, 178, 35);
}
.Rental {
  background: rgb(0, 183, 224);
}
.Learning {
  background: rgb(166, 2, 221);
}
.Shopping {
  background: rgb(214, 214, 0);
}
.Hobbies {
  background: rgb(38, 94, 4);
}